server {
        listen {{nginx_http_port}} ;

        root {{nginx_root_path}}/{{item}} ;
        {% for file in nginx_start_file %}
        {{file}}{% endfor %};
        server_name {{item}}.{{nginx_dns_name}} ;

        location / {
             try_files $uri $uri/ =404;
        }


}

server {
        listen {{nginx_https_port}} ssl http2 ;

        server_name {{item}}.{{nginx_dns_name}} ;

        ssl_certificate /etc/letsencrypt/live/{{item}}.{{nginx_dns_name}}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{item}}.{{nginx_dns_name}}/privkey.pem;
        
        root {{nginx_root_path}}/{{item}} ;
}
